<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uottawa.clinigo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ClinicInfoActivity"></activity>
        <activity
            android:name=".activities.AvailableServicesActivity"
            android:label="Services To Choose From" />
        <activity
            android:name=".activities.EmployeeServicesActivity"
            android:label="Available Services" />
        <activity android:name=".activities.EmployeeWorkingHoursActivity" />
        <activity android:name=".activities.EmployeePage" />
        <activity
            android:name=".activities.AdminServicesActivity"
            android:label="Services" />
        <activity android:name=".adapters.ServiceAdapter" />
        <activity
            android:name=".activities.AdminUsersActivity"
            android:label="Accounts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AdminMainActivity"
            android:label="Administrator Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SuccessfulLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>